body {
  border: 1px solid bisque;

  .options-main {
    .downloads {
      display: flex;
      flex-direction: column;
      div {
        margin: 8px 0px;
      }
      .folder {
        input {
          width: 50%;
        }
      }
      .range {
        input {
          width: 64px;
          margin: 0px 8px;
        }
      }
    }
  }
}
